<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Photos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="/static/assets/css/style-mariage.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended navBackground">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center textColor">MÉLI ET JU</a>
            </div>
        </nav>
    </div>
    <div id="createOrJoin" class="afterNav">
        <p onclick="changeGroup()" class="textcenter textColor pointer">
            Retour
        </p>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Nom de l'équipe à créer ou à rejoindre" id="name" type="text"
                            class="validate textInput" onkeypress="handle(event)">
                        <label for="first_name">Nom de l'équipe</label>
                    </div>
                    <div class="col s12 desactived" id="err">
                        <p>Merci de bien vouloir donner un nom d'équipe</a>
                    </div>
                    <div class="col s12">
                        <a class="waves-effect waves-light btn goldBackground" onclick="validateTeam()">Valider</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="navbar-fixed bottomMenu">
        <nav class="nav-extended bottomMenu navBackground">
            <div class="nav-content">
                <ul class="tabs tabs-transparent tabsOver">
                    <li class="tab tabOver">
                        <a href="/" class="textColor">
                            <i class="material-icons">book</i>
                        </a>
                    </li>
                    <li class="tab tabOver">
                        <a class="active textColor" href="/photos">
                            <i class="material-icons">camera_alt</i>
                        </a>
                    </li>
                    <li class="tab tabOver">
                        <a href="/view" class="textColor">
                            <i class="material-icons">favorite</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/assets/js/challenge.js"></script>
    <script>
        const changeGroup = () => {
            window.location.href = `/photos`
        }
    </script>
</body>

</html>