<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voir les photobooth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="/static/assets/css/style-mariage.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />

</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended navBackground">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center textColor">MÉLI ET JU</a>
            </div>
        </nav>
    </div>
    <div class="row afterNav">
        <p onclick="changeGroup()" class="textcenter textColor pointer">
            Retour
        </p>
        <p onclick="viewPicture()" class="textcenter textColor pointer">
            prendre des photos
        </p>
        {% for challenge in photobooth %}
        <div class="col s12 m4">
            <div class="card backgroundColor">
                <div class="card-image">
                    <div class="image-upload">
                        <label for="file-input">
                            <img src="/{{challenge.photos}}" />
                            <div class="bottom-right metal linearText">Mélissa et Julien </br> 26/09/20</div>

                        </label>
                    </div>
                </div>
                <div class="card-action  metal linearText">
                    <a download="challenge-{{challenge.name}}.jpg" href="/{{challenge.photos}}"
                        title="{{challenge.name}}">Télécharger la photos</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="navbar-fixed bottomMenu">
        <nav class="nav-extended bottomMenu navBackground">
            <div class="nav-content">
                <ul class="tabs tabs-transparent tabsOver">
                    <li class="tab tabOver">
                        <a href="/" class="textColor">
                            <i class="material-icons">book</i>
                        </a>
                    </li>
                    <li class="tab tabOver">
                        <a class="active textColor" href="/photos">
                            <i class="material-icons">camera_alt</i>
                        </a>
                    </li>
                    <li class="tab tabOver">
                        <a href="/view" class="textColor">
                            <i class="material-icons">favorite</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        const handleFiles = (challengeId, groupId) => {
            document.getElementById("formToDo").submit();
        }
        const handleFilesExist = (challengeId, groupId) => {
            document.getElementById("formExist").submit();
        }
        const deleted = (id) => {
            console.log(id)
            var myHeaders = new Headers();

            var myInit = {
                method: 'GET',
                headers: myHeaders,
                mode: 'cors',
                cache: 'default'
            };

            fetch(`/challengeDelete/${id}/`, myInit)
                .then(function (response) {
                    console.log(response)
                    let name = "{{name}}"
                    window.location.href = `/challenge/${name}`
                })
        }
        const changeGroup = () => {
            window.location.href = `/photos`
        }
        const viewPicture = () => {
            window.location.href = '/photobooth'
        }
    </script>
</body>

</html>