<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoBooth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="/static/assets/css/style-mariage.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />

</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended navBackground">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center textColor">MÉLI ET JU</a>
            </div>
        </nav>
    </div>
    <div class="row afterNav">
        <div class="col s6">
            <p onclick="changeGroup()" class="textcenter textColor pointer">
                retour
            </p>
        </div>
        <div class="col s6">
            <p onclick="window.location.href = `/getPhotobooth`" class="textcenter textColor pointer">
                Voir les photos
            </p>
        </div>
        <div class="col s12">
            <form id="formToDo" action="/savePhotobooth" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" for="image" id="image" name="image" />

            </form>
            <div class="card backgroundColor videoCard">
                <div class="card-image" id="vid-box">
                    <video id="video-preview"></video>
                    <img id="canvas" class="textcenter" src='/' style="display:none;" />
                    <div class="bottom-right metal linearText" style="font-size:16px;">Mélissa et Julien </br> 26/09/20
                    </div>
                    <div class="centered" id="counterDown" style="display: none;">
                        <center>
                            <div class="count-down">
                                <span class="metal linearText">10</span>
                            </div>
                        </center>
                    </div>
                    <div class="bottom-left">
                        <div href="#" class="textColor pointer" onclick="compteur()">
                            <i class="material-icons" id="compteur">timer_off</i>
                        </div>
                    </div>

                    <canvas id="c" style="display:none;"></canvas>

                </div>
                <div class="card-action  metal linearText" style="padding: 0">
                    <p href="#" class="pointer textcenter" style="margin: 0" id="b">Prendre une photos</p>

                </div>
            </div>
        </div>
    </div>
    <div class="navbar-fixed bottomMenu">
        <nav class="nav-extended bottomMenu navBackground">
            <div class="nav-content">
                <ul class="tabs tabs-transparent tabsOver">
                    <li class="tab tabOver">
                        <a href="/" class="textColor">
                            <i class="material-icons">book</i>
                        </a>
                    </li>
                    <li class="tab tabOver">
                        <a class="active textColor" href="/photos">
                            <i class="material-icons">camera_alt</i>
                        </a>
                    </li>
                    <li class="tab tabOver">
                        <a href="/view" class="textColor">
                            <i class="material-icons">favorite</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        const handleFiles = (challengeId, groupId) => {
            document.getElementById("formToDo").submit();
        }
        const handleFilesExist = (challengeId, groupId) => {
            document.getElementById("formExist").submit();
        }
        const deleted = (id) => {
            console.log(id)
            var myHeaders = new Headers();

            var myInit = {
                method: 'GET',
                headers: myHeaders,
                mode: 'cors',
                cache: 'default'
            };

            fetch(`/challengeDelete/${id}/`, myInit)
                .then(function (response) {
                    console.log(response)
                    let name = "{{name}}"
                    window.location.href = `/challenge/${name}`
                })
        }
        const changeGroup = () => {
            window.location.href = `/photos`
        }

        const compteur = () => {
            if (document.getElementById('compteur').innerText == 'timer') {
                document.getElementById('compteur').innerText = 'timer_off'
            } else {
                document.getElementById('compteur').innerText = 'timer'
            }
        }
    </script>
    <script>
        navigator.getUserMedia({
                video: true
            }, function (stream) {
                var video = document.getElementById("video-preview");
                var canvas = document.getElementById("c");
                var button = document.getElementById("b");

                video.srcObject = stream;
                video.play()
                button.disabled = false;
                button.onclick = function () {
                    if (localStorage.getItem('photo')) {
                        return
                    }
                    if (document.getElementById('compteur').innerText == 'timer') {
                        var counterDown = setInterval(function () {
                            localStorage.setItem('photo', true)
                            document.getElementById('counterDown').style.display = 'block';
                            var span = $("span").html();
                            var counter = parseInt(span);
                            if (counter !== 0) {
                                $("span").html(counter - 1);
                            } else {
                                clearInterval(counterDown);
                                var context;
                                var width = video.offsetWidth,
                                    height = video.offsetHeight;
                                canvas.width = width;
                                canvas.height = height;
                                localStorage.removeItem('photo')
                                context = canvas.getContext('2d');
                                context.drawImage(video, 0, 0, width, height);

                                img = canvas.toDataURL('image/png');
                                $('#image').val(img);
                                document.getElementById("formToDo").submit();
                            }
                        }, 1000);
                    } else {
                        var context;
                        var width = video.offsetWidth,
                            height = video.offsetHeight;
                        canvas.width = width;
                        canvas.height = height;

                        context = canvas.getContext('2d');
                        context.drawImage(video, 0, 0, width, height);

                        img = canvas.toDataURL('image/png');
                        $('#image').val(img);
                        document.getElementById("formToDo").submit();
                    }

                };
            },
            function (err) {
                alert("there was an error " + err)
            });
    </script>
</body>

</html>