<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>WebRTC Scalable Broadcast using RTCMultiConnection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://rtcmulticonnection.herokuapp.com/demos/stylesheet.css">
    <script src="https://rtcmulticonnection.herokuapp.com/demos/menu.js"></script>
</head>

<body>
    <video id="video-preview" controls loop></video>

    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/node_modules/webrtc-adapter/out/adapter.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
    <!-- <script src="https://www.webrtc-experiment.com/RecordRTC.js"></script> -->
    <script src="/static/assets/js/stream.js"></script>
    <script src="https://www.webrtc-experiment.com/common.js"></script>
    <script>
        joinOrCreateBroadcast()
    </script>
</body>

</html>